<div class="container">
  <div class="row">
    <h2>CV Form</h2>
    <form [formGroup]="cvForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstname">First name:</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          class="form-control"
          formControlName="firstname"
        />
        <span
          *ngIf="
            !cvForm.get('firstname').valid && cvForm.get('firstname').touched
          "
          class="help-block"
          >! Firstname required</span
        >
      </div>
      <div class="form-group">
        <label for="lastname">Last name:</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
          class="form-control"
          formControlName="lastname"
        />
        <span
          *ngIf="
            !cvForm.get('lastname').valid && cvForm.get('lastname').touched
          "
          class="help-block"
          >! Lastname required</span
        >
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          formControlName="email"
        />
        <span
          *ngIf="!cvForm.get('email').valid && cvForm.get('email').touched"
          class="help-block"
          >! Please enter a valid email</span
        >
      </div>
      <div class="form-group">
        <label for="phone">Phone number:</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          class="form-control"
          formControlName="phone"
        />
        <span
          *ngIf="!cvForm.get('phone').valid && cvForm.get('phone').touched"
          class="help-block"
          >! Please match the requested format</span
        >
      </div>

      <div formArrayName="urls">
        <label for="recourse">recourses:</label>
        <div
          class="form-group"
          *ngFor="let url of cvForm.get('urls')['controls']; let i = index"
        >
          <input
            id="recourse"
            type="text"
            class="form-control"
            [formControlName]="i"
          />
        </div>
        <span
          *ngIf="!cvForm.get('urls').valid && cvForm.get('urls').touched"
          class="help-block"
          >! Please enter a valid url</span
        >
        <button
          class="btn btn-default add"
          type="button"
          (click)="onAddRecourses()"
        >
          Add recourses
        </button>
      </div>

      <div formArrayName="education">
        <label for="education">Education:</label>
        <div
          class="form-group"
          *ngFor="let url of cvForm.get('education')['controls']; let i = index"
        >
          <input
            id="education"
            type="text"
            class="form-control"
            [formControlName]="i"
          />
        </div>
        <span
          *ngIf="
            !cvForm.get('education').valid && cvForm.get('education').touched
          "
          class="help-block"
          >! Education required</span
        >
        <button
          class="btn btn-default add"
          type="button"
          (click)="onAddEducation()"
        >
          Add education
        </button>
      </div>
      <div formGroupName="experiences">
        <div formArrayName="experience">
          <label for="experience">Experience:</label>
          <div
            class="form-group"
            *ngFor="
              let url of cvForm.get('experiences.experience')['controls'];
              let i = index
            "
          >
            <input
              id="experience"
              type="text"
              class="form-control"
              [formControlName]="i"
            />
          </div>

          <span
            *ngIf="
              !cvForm.get('experiences.experience').valid &&
              cvForm.get('experiences.experience').touched
            "
            class="help-block"
            >! Experience required</span
          >
        </div>
        <div>
          <div class="col-sm-6">
            <div formArrayName="start">
              <label for="start">start</label>
              <div
                class="form-group"
                *ngFor="
                  let st of cvForm.get('experiences.start')['controls'];
                  let i = index
                "
              >
                <input
                  type="number"
                  class="form-control short"
                  [formControlName]="i"
                  min="2000"
                  max="2022"
                  step="1"
                />
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div formArrayName="end">
              <label for="end">end</label>
              <div
                class="form-group"
                *ngFor="
                  let end of cvForm.get('experiences.end')['controls'];
                  let i = index
                "
              >
                <input
                  type="number"
                  class="form-control short"
                  [formControlName]="i"
                  min="2000"
                  max="2022"
                  step="1"
                />
              </div>
            </div>
          </div>
        </div>
        <button
          class="btn btn-default add"
          type="button"
          (click)="onAddExperience()"
        >
          Add experience
        </button>
      </div>

      <span *ngIf="!cvForm.valid && cvForm.touched" class="help-block"
        >! Please enter valid data</span
      >

      <button [disabled]="cvForm.invalid" type="submit" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
</div>

<!-- kkk-->
